@page
@model Hub.Pages.Companies.IndexModel
@{
}
<div class="container p-5">
    <div class="row">
            <div class="col-6">
                <h1>Company List</h1>
            </div>
            <div class="col-6">
                <a asp-page="create">Create</a>

            </div>
    </div>

</div>